/*
IDEAS:
Add some sort of CRT effect to whole page (hard, unless it's just a background-image)
*/

body {
background-color: #120a01;   
color:#fef1e1;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4 {
  color: #fca311;
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 3em;
  text-align: center;
}

a {
  color: #56e000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #fef1e1;
}

img {
width: 512px;
display: block;
margin-left: auto;
margin-right: auto;
box-shadow: 0 0 10px 5px #fca311;
}


table {
border:0.5px solid #fca311;
background-color: #120a01;
margin-left: auto;
margin-right: auto;
}

th, td {
border:0.5px solid #fca311;
}


figcaption {
    font-style: italic;
    padding: 2px;
    margin-top: 0.75em;
    text-align: center;
  }