/*
IDEAS:
Better hover animations for nav (both)
Other text styling - description list color
Fix top navbar scrolling (mobile) - try placing <div> above sections
Experiment with dropdown navbar (requires JS)
Make top navbar underneath scanlines (lot of z-index tricks)
More comprehensive fixes for mobile (simulator looks wack)
*/
html {
  scroll-behavior: smooth;
}

.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/scans1.png');
  background-repeat: repeat-x;
  z-index: -1;
  box-shadow: inset 0px 0px 100px black;
}

body {
background-color: #120a01;   
color:#fef1e1;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 8px 0px;
}

header, footer {
  margin: 0px 8px;
}

h1, h2, h3, h4 {
  color: #fca311;
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 3em;
  text-align: center;
}

address {
  text-align: center;
  font-variant: small-caps;
}

nav {
  float: left;
  width: 20%;
  position: sticky;
  top: 0;
}

nav h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}

nav li {
  margin: 1em 0;
}

article {
  margin-left: 20%;
}

nav a {
  color: #56e000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

img {
width: 512px;
display: block;
margin-left: auto;
margin-right: auto;
box-shadow: 0 0 10px 5px #fca311;
border: 1px solid #fca311;
border-radius: 10px;
transition: transform .2s;
}

img:hover {
  transform: scale(1.05);
}

table {
border:0.5px solid #fca311;
box-shadow: 0 0 5px 2.5px #fca311;
background-color: #120a01;
margin-left: auto;
margin-right: auto;
}

th, td {
border:0.5px solid #fca311;
}

figcaption {
    font-style: italic;
    padding: 2px;
    margin-top: 0.75em;
    text-align: center;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
}

figure {
  float: right;
}

.figseparator {
  clear: both;
}

ul {
  list-style-type: square;
}
@media (max-width: 1149px) {
  /*Turns page back to single column layout, with top navbar. Problem: clicking the links scrolls the content under the navbar, I haven't found an easy way to fix this without JS given the nav height has to change to fit all the links. Bottom line, I wouldn't recommend viewing this page on mobile really.*/
  nav h2 {
    display: none;
  }

  nav {
    width: 100%;
    background-color: #4e2c05;
    
    text-align: center;
    margin-bottom: 10px;
  }

  nav li {
    display: inline-block;
    padding: 0 5px;
    margin: 5px;
    font-size: 0.75em;
  }
  
  img {
    width: 90%;
    max-width: 512px;
  }

  img:hover{
    transform: none;
  }

  article {
    margin: 0px 8px;
  }

  figure {
    float: none;
  }
}